*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    width:  100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
}

.app{
    background: white;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.game{
    position: relative;
    width: 300px;
    height: 300px;
    margin: .5rem;
    border: 1px dotted;
    background: gray;
}

.hide{
    display: none !important;
}