* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
}

.sun {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #ffa200;
    border-radius: 50%;
    box-shadow: 0 0 30px #fff;
}

.axis1 {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border-right: 2px solid #fff;
    animation: anime 5s linear infinite;
}

.axis1 .earth {
    position: absolute;
    top: 370px;
    left: 180px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #4682b4;
}

.axis2 {
    position: absolute;
    top: 350px;
    left: 160px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-right: 2px solid #fff;
    animation: anime 5s linear infinite;
}

.axis2 .moon {
    position: absolute;
    top: 85px;
    left: 50px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
