.game {
    position: relative;
    width: 600px;
    height: 200px;
    margin: auto;
    border-bottom: 1px solid;
    overflow: hidden;
}

#game-over {
    display: none;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    cursor: pointer;
}

#game-over.active {
    display: block;
}

#clouds {
    position: absolute;
    top: 70px;
    left: 680px;
    z-index: -1;
    width: 600px;
    height: 70px;
    background-image: url(../images/clouds.jpg);
    background-size: cover;
    background-position: center;
}

#clouds.active {
    animation: cloudsMov 1.2s infinite linear;
}

#dino {
    position: relative;
    top: 150px;
    width: 50px;
    height: 50px;
    background-image: url(../images/dino.png);
    background-size: 50px 50px;
    background-position: center;
}

#dino.active {
    animation: jumpMov 300ms infinite linear;
}

#cactus {
    position: relative;
    top: 110px;
    left: 680px;
    width: 20px;
    height: 40px;
    background-image: url(../images/cactus.png);
    background-size: 20px 40px;
}

#cactus.active {
    animation: cactusMov 1.2s infinite linear;
}

.img-keys {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ------------ animations ------------ */
@keyframes cloudsMov {
    0% {
        left: 580px;
    }

    100% {
        left: 0;
    }
}

@keyframes jumpMov {
    0%   {top: 150px}
    10%  {top: 140px}
    20%  {top: 130px}
    30%  {top: 120px}
    40%  {top: 110px}
    50%  {top: 100px}
    60%  {top: 100px}
    70%  {top: 110px}
    80%  {top: 120px}
    90%  {top: 130px}
    100% {top: 140px}
}

@keyframes cactusMov {
    0%   {left: 580px}
    100% {left: -20px}
}