html::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

html::-webkit-scrollbar-track {
    background: #e4e1e1;
}

html::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: darkblue;
}

.intro {
    width: 200px;
    height: 100px;
    border: 5px solid;
    background-image: url(./images.png);
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.bg {
    width: 100%;
    height: 800px;
    background-image: url(./IMG-Academy-cover-WS.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}