body {
    padding: 10px 50px;
    font-family: 'Arial';
}

h1 {
    text-align: center;
    font-size: 40px;
}

.copied {
    background: #333;
    color: #fff;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: fixed;
    right: 50px;
    top: 40px;
    box-shadow: .5rem .5rem 1rem gray;
    display: none;
}

.parent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.box {
    text-align: center;
    cursor: pointer;
}

code {
    font-size: 1rem;
    padding-top: 10px;
    display: block;
}

button {
    padding: 10px 30px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
}

button.btn1 {
    background-color: #04AA6D;
}

button.btn2 {
    background-color: #008CBA;
}

button.btn3 {
    background-color: #f44336;
}

button.btn4 {
    background-color: #e7e7e7;
    color: #000;
}

button.btn5 {
    background-color: #282A35;
}

button.btn6 {
    background-color: #555555;
}

button.btn7 {
    background-color: #4E56FF;
}

button.btn8 {
    background-color: #A6ABFF;
    color: #000;
}

button.btn9 {
    background-color: #1677ff;
}

button.btn10 {
    background-color: #ff4d4f;
}

button.btn11 {
    background-color: #5A54F9;
}

button.btn12 {
    background-color: #00B96B;
}

button.btn13 {
    background-color: #E2E8F0;
    color: #000;
}

button.btn14 {
    background-color: #CAD5E2;
    color: #000;
}

button.btn15 {
    background-color: #90A1B9;
    color: #000;
}

button.btn16 {
    background-color: #62748E;
}

button.btn17 {
    background-color: #45556C;
}

button.btn18 {
    background-color: #314158;
}

button.btn19 {
    background-color: #1D293D;
}

button.btn20 {
    background-color: #1D293D;
}

button.btn21 {
    background-color: #020618;
}

button.btn22 {
    background-color: #A723A7;
}

button.btn23 {
    background-color: #333333;
}

button.btn24 {
    background-color: #cccccc;
    color: #000;
}

button.btn25 {
    background-color: #D72218;
}

button.btn26 {
    background-color: #38444d;
}