body {
  font-family: 'Noto Serif', serif;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  margin: 7.5rem 0 2rem 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.controls {
  margin-bottom: 2rem;
}

button {
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #1677ff;
  color: #fff;
  box-shadow: 0 5px 15px rgba(22, 119, 255, 0.4);

  &:hover {
    background-color: #0b5ed7;
    box-shadow: 0 8px 20px rgba(22, 119, 255, 0.6);
  }

  &:disabled {
    background-color: #7daeff;
    box-shadow: none;
    cursor: not-allowed;
  }
}

p.stopwatch {
  font-size: 2.5rem;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

ul.laps {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  width: 100%;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 200px;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #1677ff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #0b5ed7;
  }
}

ul.laps li {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-align: center;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}