@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 470px;
    height: 580px;
    padding: 40px;
    color: #fff;
    border-radius: 20px;
    background: linear-gradient(135deg, #00feba, #5b548a);
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

form input {
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
}

form button {
    background: #fff;
    cursor: pointer;
    padding: 3px 15px 0;
}

form button img {
    width: 16px;
}

.error-notice {
    height: 450px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    display: none;
}

.error-notice img {
    width: 150px;
}

.weather {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    display: none;
}

.weather .weather-icon {
    width: 150px;
}

.weather .temp {
    font-size: 50px;
    font-weight: 500;
}

.weather .city {
    font-weight: 500;
    font-size: 45px;
}

.weather .details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather .details .box {
    display: flex;
    align-items: center;
}

.weather .details .box img {
    width: 40px;
    margin-right: 10px;
}

.weather .details .box .humidity, 
.weather .details .box .wind {
    font-size: 28px;
}