footer {
    background-color: #333;
    color: #fff;
    padding: 30px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1000;
}

footer .logo {
    width: 90px;
}

footer .contact p strong {
    display: inline-block;
    width: 80px;
    margin: 5px 0;
}

footer .social-links {
    display: flex;
    gap: 20px;
}

footer .social-links a {
    font-size: 1.7rem;
    color: #fff;
    transition: color 0.3s;

    &:hover {
        color: #E4042C;
    }
}

@media (max-width: 1000px) {
    footer {
        padding: 30px 80px;
    }
}

@media (max-width: 750px) {
    footer {
        padding: 30px 0;
        flex-direction: column;
        gap: 3rem;
    }
}

@media (max-width: 420px) {
    footer * {
        font-size: 14px;
    }
}