#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 95%;
    margin: auto;
    padding: 20px 100px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    background: #fff;
    position: fixed;
    top: 0; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1000; 
}

#menubar {
    font-size: 1.5rem;
    border: 2px solid #000;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        color: #fff;
        background: #E4042C;
    }
}

#logo {
    width: 70px;
}

#menubar {
    display: none;
}

#navbar a {
    display: inline-block;
    margin: 10px;
    padding-bottom: 2px;
    font-size: 1.2rem;
    color: #000;
    -webkit-text-stroke: 1px;
    border-bottom: 3px solid #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &:hover {
        color: #E4042C;
        border-color: #E4042C;
        transform: translateY(-5px);
    }
}

#icons i {
    margin: 3px 5px;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    -webkit-text-stroke: 1px;

    &:hover {
        color: #E4042C;
    }
}

@media (max-width: 800px) {
    #header {
        padding: 20px 40px;
    }
}

@media (max-width: 700px) {
    #navbar {
        position: absolute;
        top: 105%;
        left: 0;
        width: 100%;
        border-radius: 15px;
        background: #fff;
        border: 2px solid #ddd;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    #navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    #navbar a {
        display: block;
        background: #ffcfcf;
        padding: 10px 10px;
        border-radius: 10px;
    }

    #menubar {
        display: block;
    }

    #toggler:checked~#nav-bar {
        display: block;
        max-width: 1200px;
        height: 90vh;
        position: absolute;
        margin-top: 55rem;
        display: flex;
        flex-direction: column;
        background: #ccc;
        margin-left: 5rem;
    }
}