.home {
    width: 95%;
    max-width: 1200px;
    margin: 9rem auto 2rem auto;
}

.image {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}