.products {
    max-width: 1200px;
    width: 95%;
    margin: 80px auto;
}

.products .products-container {
    display: flex;
    justify-items: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .products-container .product {
    display: flex;
    flex-direction: column;
    flex: 300px;
    height: 35rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px #0000001a, 0 6px 20px #0000001a;
}

.products .products-container .product img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.products .products-container .product .title {
    font-size: 1.4rem;
    margin: 15px;
    color: #333;
    font-weight: 600;
}

.products .products-container .product .description {
    flex-grow: 1;
    font-size: .8rem;
    color: #777;
    padding: 0 15px;
}

.products .products-container .product .add-card {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin: 15px;
    background: #E4042C;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.products .products-container .product .add-card i {
    margin-right: 8px;
    font-size: 1.2rem;
}