body{
    padding: 0;
    margin: 0;
    background-image: url(../images/cosmos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.sun{
    width: 400px;
    padding: 50px;
    position: absolute;
    margin-top: 30px;
    margin-left: 400px;
    z-index: 1;
}

.earth{
    width: 100px;
    position: relative;
    margin-left: 400px;
    margin-top: 30px;
    top: 170px;
    left: 170px;
    z-index: 0;
    animation: 7s linear orbita infinite;
}


@keyframes orbita{
    0%{
        width: 75px;
    }
    24%{
        z-index: 0;
    }
    25%{
        left: 400px;
        top: 130px;
        width: 100px;
        z-index: 2;
    }
    50%{
        width: 180px;
    }
    74%{
        z-index: 2;
    }
    75%{
        top: 250px;
        left: 0;
        z-index: 0;
        width: 100px;
    }
    100%{
        width: 75px;
        transform: rotate(360deg);
    }
}