@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

*{
    padding: 0; margin: 0;
    border: none; 
    box-sizing: border-box;
    overflow: hidden; 
    text-transform: capitalize;
    transition: all .3s linear;
    font-family: 'Arvo', serif;
    font-weight: normal;
}

body{
    background-color: rgb(47, 219, 139);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 4%;
    text-align: center;
}

/* .........heading......... */
.heading{
    display: inline-block;
    width: 300px;
    padding: .5rem;
    background-color: gray;
    border: 3px solid rgb(10, 0, 98);
    font-size: 1.8rem;
    font-style: italic;
}

.heading span{
    font-size: 3rem;
    font-weight: bold;
    font-style: normal;
}

/* .........form - modal......... */
.modal{
    width: 350px;
    position: fixed;    
    top: -30%;
    left: calc(50% - 175px);
    border: 3px solid blue;
}

.modal.active{
    top: 20%;
}

.modal .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(40, 188, 233);
}

.modal span{
    font-size: 1.5rem;
    font-weight: bold;
}

.modal i{
    padding: 1px 3px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(238, 84, 84);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.modal i:hover{
    background-color: rgb(195, 5, 5);
    border-color: black;
    color: wheat;
}

.modal input[type=text]{
    width: 100%;
    padding: .8rem;
    font-size: 1.3rem;
}

.modal input[type=submit]{
    width: 100%;
    padding: .5rem;
    background-color: rgb(48, 185, 219);
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.modal input[type=submit]:hover{
    background-color: rgb(22, 117, 141);
    color: aliceblue;
}

/* .........main......... */
.main{
    width: 100%;
    margin: 10px 0;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.status{
    width: 200px;
    min-height: 400px;
    margin: .1rem;
    border: .2rem solid rgb(36, 36, 36);
    background-color: aquamarine;
}

.status h1{
    margin: .1rem;
    padding: .5rem;
    border: 3px solid rgb(36, 36, 36);
    background-color: rgb(168, 139, 139);
    font-weight: bold;
    font-size: 1.2rem;
}

.add_btn{
    width: 98%;
    display: flex;
    justify-content: center;
    margin: .3rem auto;
    padding: .6rem;
    border: 3px solid rgb(24, 0, 160);
    background-color: aqua;
    font-style: italic;
    font-size: 15px;
    text-transform: none;
    cursor: pointer;
}

.add_btn:hover{ 
    background-color: rgb(2, 128, 128);
    color: white;
}

/* .........todo......... */
.todo{
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .3rem auto;
    padding: .4rem;
    border: 3px solid rgb(24, 0, 160);
    background-color: aqua;
}

.todo .text{
    font-size: 20px;
}

.todo .close{
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(238, 84, 84);
    padding: 0 3px;
    padding-top: 2px;
    cursor: pointer;
}

.todo .close:hover{
    background-color: rgb(195, 5, 5);
    border-color: black;
    color: wheat;
}




