*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
}

:root {
    --dark-color: #070917;
    --light-color: #E8F7FB;
    --orange-color: #DA722C;
    --dark-blue-color: #023047;
    --light-blue-color: #6F7DFB;
}

body {
    margin: 0;
}

section {
    margin-top: 100px;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 60px;
    color: var(--dark-blue-color);
}

section p {
    margin: 12px 0;
    font-size: 16px;
    color: var(--dark-blue-color);
}

.btn {
    display: inline-block;
    position: relative;
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 500ms ease;
}

.btn.dark {
    background: var(--dark-blue-color);
}

.btn.light {
    background: var(--orange-color);
}

.btn.enrol-icon {
    padding-left: 60px;
}

.btn.enrol-icon::before {
    content: url(../images/enrol-icon.svg);
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn:hover {
    background: var(--dark-blue-color);
}

header nav.mobile-nav,
.mobile-menu-container {
    display: none;
}

.testemonial-section .mobile-btn {
    display: none;
}

/* ......................header...................... */
header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 36px 0;
    z-index: 100;
    transition: all 500ms ease;
}

header nav.scrolled {
    top: 0;
    padding: 12px;
    background: var(--dark-color);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 16px 14px 8px rgba(0, 0, 0, 0.3);
}

header nav.scrolled ul li:last-child a {
    background: #fff;
    color: #000;
}

header nav.scrolled ul li:last-child a:hover {
    background: var(--orange-color);
    color: #fff;
}

header nav .logo {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Raleway';
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

header nav ul li a {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}


/* ......................header > hero-section...................... */
header .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
}

header .hero-section .left {
    flex: 1;
}

header .hero-section .left h1 {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 50px;
    color: #fff;
    margin-bottom: 0;
}

header .hero-section .left p {
    width: 457px;
    line-height: 200%;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #fff;
}

header .hero-section .right {
    align-self: flex-end;
}

header .hero-section .right img {
    height: 520px;
    vertical-align: middle;
}


/* ......................header > achievement-cards...................... */
.achievement-card {
    position: absolute;
}

.achievement-card .content {
    background: #fff;
    border-radius: 24px;
    padding: 8px 32px;
    position: relative;
    z-index: 10;
}

.achievement-card.students-enrolled {
    left: 49%;
    top: 270px;
}

.achievement-card.overall-rating {
    left: 47%;
    top: 470px;
    min-width: 200px;
}

.achievement-card .content div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.achievement-card h3 {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    color: var(--dark-blue-color);
    text-align: center;
}

.achievement-card p {
    margin-top: -8px;
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--dark-blue-color);
    text-align: center;
}

.achievement-card .bg {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
}


/* ......................testemonial-section...................... */
.testemonial-section {
    display: flex;
    align-items: center;
    gap: 100px;
}

.testemonial-section .testemonial-card {
    position: relative;
    width: 442px;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
}

.testemonial-section .testemonial-card:last-child {
    transform: translateX(20px);
}

.testemonial-section .testemonial-card::before {
    content: '';
    width: 28px;
    position: absolute;
    height: 40px;
    top: -40px;
    left: 60px;
    border-radius: 24px 24px 0 0;
    background: var(--dark-blue-color);
}

.testemonial-section .testemonial-card:last-child::before {
    left: 40px;
    top: -50px;
    height: calc(100% + 90px);
    z-index: -1;
    border-radius: 0 0 24px 24px;
}

.testemonial-section .testemonial-card .content {
    padding: 24px 32px;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    border-radius: 24px;
    background: var(--light-blue-color);
}

.testemonial-section .testemonial-card:last-child .content {
    background: var(--orange-color);
}

.testemonial-section .testemonial-card .info {
    padding: 24px 34px;
    background: #fff;
    border-radius: 24px;
}

.testemonial-section .testemonial-card .info h4 {
    margin: 0;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 24px;
    color: var(--dark-blue-color);
}

.testemonial-section .testemonial-card .info p.company {
    font-family: 'Raleway';
    font-size: 18px;
    color: var(--dark-blue-color);
}

.testemonial-section .testemonial-card img {
    position: absolute;
    right: 32px;
    bottom: 5px;
    width: 120px;
    height: 130px;
}

.testemonial-section .features {
    margin: 30px 0;
}

.testemonial-section .features p {
    font-family: 'Poppins';
    font-size: 16px;
    color: var(--dark-blue-color);
}


/* ......................courses-section...................... */
.courses-section {
    padding: 70px 0 120px 0;
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
}

.courses-section .wrapper {
    position: relative;
}

.courses-section .wrapper .btn {
    position: absolute;
    right: 0;
}

.courses-section h2 {
    text-align: center;
    color: #fff;
}

.courses-section .course-cards {
    display: flex;
    gap: 70px;
}

.courses-section .course-card {
    width: 520px;
    margin: 40px 0;
    padding: 0 32px;
    background: #fff;
    border-radius: 24px;
    position: relative;
}

.courses-section .course-card::after {
    content: '';
    position: absolute;
    height: 8px;
    left: 32px;
    right: 32px;
    bottom: 0;
    border-radius: 24px;
    background: var(--dark-blue-color);
}

.courses-section .course-card img {
    width: 100%;
}

.courses-section .course-card h3 {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
    color: var(--dark-blue-color);
}

.courses-section .course-card .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.courses-section .course-card .duration {
    position: relative;
    padding-left: 20px;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-blue-color);
    white-space: nowrap;
}

.courses-section .course-card .duration::before {
    content: url(../images/clock.svg);
    position: absolute;
    top: 2px;
    left: -6px;
}


/* ......................app-section...................... */
.app-section {
    text-align: center;
}

.app-section .app-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 24px;
}

.app-section .app-buttons .app-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    min-width: 310px;
    padding: 16px 31px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.app-section .app-buttons .app-btn span {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}


/* ......................footer...................... */
footer {
    margin-top: 100px;
    padding: 70px 0;
    color: #fff;
    background: var(--dark-color);
}

footer h3 {
    color: var(--orange-color);
}

footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

footer ul {
    list-style: none;
    padding-left: 20px;
}

footer ul li {
    margin: 16px 0;
}

footer a {
    color: #fff;
    transition: all 200ms linear;
}

footer a:hover {
    color: var(--orange-color);
}

footer .social {
    margin-left: 20px;
}

footer .social a {
    margin-right: 28px;
}

footer form {
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
}

footer form input {
    width: 100%;
    font-size: 16px;
    line-height: 200%;
    border-radius: 8px;
    padding: 8px 160px 8px 32px;
    font-family: 'Poppins';
}

footer form .submit-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: var(--dark-blue-color);
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 150ms linear;
}

footer form .submit-btn:hover {
    background: var(--dark-color);
}

footer .copyright {
    margin-top: 36px;
}

@media (max-width: 1100px) {
    h2 {
        font-size: 40px;
    }

    .btn {
        padding: 12px 32px;
    }

    .wrapper {
        padding: 0 100px;
    }

    header nav {
        width: 100%;
        left: 0;
        right: 0;
        padding: 36px 100px;
    }

    header nav.scrolled {
        padding: 16px 100px;
    }

    header,
    header .hero-section,
    header .wrapper {
        height: 900px;
    }

    header .hero-section {
        position: relative;
        flex-direction: column;
    }

    header .hero-section .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header .hero-section .left .btn {
        align-self: flex-start;
    }

    header .hero-section .left h1 {
        font-size: 50px;
        line-height: 125%;
    }

    header .hero-section .left p {
        width: 634px;
        line-height: 200%;
    }

    header .hero-section .right img {
        height: 580px;
    }

    header .hero-section .right {
        position: absolute;
        bottom: 0;
    }

    header .hero-section .achievement-card {
        position: relative;
        margin-bottom: 80px;
    }

    .hero-section .achievement-card.students-enrolled,
    .hero-section .achievement-card.overall-rating {
        left: unset;
        top: unset;
    }

    .hero-section .achievement-cards {
        align-self: flex-start;
        margin: 40px;
    }

    .testemonial-section {
        flex-direction: column;
    }

    .testemonial-section .left {
        width: 100%;
        order: 2;
    }

    .testemonial-section .rigt {
        order: 1;
    }

    .testemonial-section .left .testemonial-card {
        width: 100%;
        margin-bottom: 40px;
    }

    .testemonial-section .testemonial-card:last-child {
        transform: translateX(0);
    }

    .testemonial-section .testemonial-card:last-child::before {
        top: -40px;
        left: 60px;
        height: calc(100% + 80px);
    }

    .testemonial-section .right {
        width: 100%;
    }

    .testemonial-section .right .features p {
        font-size: 16px;
        line-height: 200%;
    }

    .testemonial-section .desktop-btn {
        display: none;
    }

    .testemonial-section .mobile-btn {
        order: 3;
        display: block;
        align-self: flex-end;
    }

    .courses-section .course-cards {
        flex-direction: column;
        margin-top: 66px;
    }

    .courses-section .course-card:last-child {
        margin-bottom: 50px;
    }

    .courses-section .course-card {
        width: 632px;
        margin: 0 auto;
    }

    .courses-section .course-card img {
        height: 260px;
        object-fit: cover;
    }

    .courses-section .course-card h3 {
        font-size: 30px;
        margin-top: 10px;
    }

    .courses-section .wrapper .btn {
        right: 190px;
    }

    footer .links-container {
        grid-template-columns: 1fr 1fr;
    }

    footer .links-container .links:last-child {
        grid-column: 1 / 3;
    }
}

@media (max-width: 800px) {
    header nav {
        display: none;
    }

    header nav.mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav.mobile-nav.scrolled {
        padding: 8px 100px;
        background: var(--light-blue-color);
        box-shadow: 0 9px 21px -5px rgba(0, 0, 0, 0.3);
    }

    .mobile-menu-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 100%;
        background: var(--dark-color);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active {
        left: 0;
    }

    .mobile-menu-container .close-icon {
        position: absolute;
        top: 32px;
        right: 100px;
    }

    .mobile-menu-container ul {
        list-style: none;
        padding: 0;
    }

    .mobile-menu-container ul li {
        margin: 30px 0;
        text-align: center;
    }

    .mobile-menu-container ul li a {
        color: #fff;
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    h2 {
        font-size: 30px;
    }

    .wrapper {
        padding: 0 32px;
    }

    header nav.mobile-nav {
        padding: 32px;
    }

    header .hero-section .left p {
        width: 100%;
    }

    .app-section .app-buttons {
        flex-direction: column;
    }

    header nav.mobile-nav {
        padding: 32px;
    }

    header nav.mobile-nav.scrolled {
        padding: 8px 32px;
    }

    .mobile-menu-container .close-icon {
        right: 32px;
    }

    header .hero-section .left h1 {
        font-size: 36px;
    }

    header .hero-section .right img {
        transform: translateX(50px);
        height: 400px;
    }

    header .hero-section .right {
        overflow: hidden;
        transform: translateX(30px);
    }

    .achievement-card h3 {
        font-size: 30px;
    }

    header .hero-section .achievement-card {
        margin-bottom: 48px;
    }

    .hero-section .achievement-cards {
        margin: 0;
    }

    .testemonial-section .testemonial-card .info h4 {
        font-size: 18px;
    }

    .testemonial-section .testemonial-card .info p.company {
        font-size: 14px;
    }

    .testemonial-section .testemonial-card img {
        width: 100px;
        height: 110px;
    }

    .courses-section .wrapper {
        padding: 0;
    }

    .courses-section .course-card {
        width: 100%;
    }

    .courses-section .course-card img {
        height: 240px;
    }

    .courses-section .course-card h3 {
        font-size: 24px;
    }

    .courses-section .wrapper .btn {
        right: 32px;
    }

    footer .links-container {
        text-align: center;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    footer .links-container .links:last-child {
        grid-column: 1 / 2;
    }

    footer ul {
        padding: 0;
    }

    footer form .submit-btn {
        top: 130%;
        left: 50%;
        transform: translateX(-50%);
    }

    footer form input {
        padding: 8px 32px;
    }

    footer .copyright {
        margin-top: 80px;
        text-align: center;
        font-size: 14px;
    }
}